@charset "utf-8";

@media screen and (max-width:480px) {
   
    #calculadora{
        height: 500px;
        width: 350px;
        margin-top: -20%;
        background-color: #000000e1;
    }

    #tela{
        background-color: #00000000;
    }
   
    button{
        height: 60px;
    }
}